In [1]:
import pandas as pd
import numpy as np

In [2]:
defaults = pd.read_excel('defaults.xlsx')
defaults.head()

,Unnamed: 0,Name,REGN_GKO,Reason,Date,City,Quarter,Year
0,391,Эргобанк,2856,отозв.,2016-01-15,Москва,1,2016
1,388,Турбобанк,3203,отозв.,2016-01-21,Санкт-Петербург,1,2016
2,389,Внешпромбанк,3261,отозв.,2016-01-21,Москва,1,2016
3,390,Мираф-Банк,2244,отозв.,2016-01-21,Омск,1,2016
4,387,Межтрастбанк,2493,отозв.,2016-01-29,Москва,1,2016

In [3]:
# приведем кварталы к единому формату
defaults['YYYYMMDD'] = defaults['Year'].astype(str) + ((defaults['Quarter'] - 1)*3 + 1).astype(str).str.zfill(2) + '01'

# добавляем столбец с признаком дефолта
defaults['Default'] = 1

In [4]:
data_defaults = defaults[['REGN_GKO', 'YYYYMMDD', 'Default']]

# переводим номер лицензии в числовой и убираем небанковские организации (у них лицензия с "-К")
data_defaults.loc[:, 'REGN_GKO'] = pd.to_numeric(data_defaults['REGN_GKO'], errors='coerce')
data_defaults = data_defaults.dropna(subset=['REGN_GKO'])
data_defaults.loc[:, 'REGN_GKO'] = data_defaults['REGN_GKO'].astype('int64')

/var/folders/vs/c62j7d552lg2lxh0fhdz26640000gn/T/ipykernel_32091/897655061.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_defaults.loc[:, 'REGN_GKO'] = pd.to_numeric(data_defaults['REGN_GKO'], errors='coerce')
/var/folders/vs/c62j7d552lg2lxh0fhdz26640000gn/T/ipykernel_32091/897655061.py:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data_defaults.loc[:, 'REGN_GKO'] = pd.to_numeric(data_defaults['REGN_GKO'], errors='coerce')
/var/folders/vs/c62j7d552lg2lxh0fhdz26640000gn/T/ipykernel_32091/897655061.py:6: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data_defaults.loc[:, 'REGN_GKO'] = data_defaults['REGN_GKO'].astype('int64')

In [5]:
data_defaults.head()

   REGN_GKO  YYYYMMDD  Default
0      2856  20160101        1
1      3203  20160101        1
2      3261  20160101        1
3      2244  20160101        1
4      2493  20160101        1

In [6]:
data_defaults.to_csv('data/data_defaults.csv')